# This should be copied to .env after you change the values
REDIS_HOST=192.168.0.66
REDIS_PORT=6379
REDIS_PASSWORD="eleven-homemade-torn"
REDIS_USER="" # If not defined, this defaults to 'default' which is the redis default user.